 .text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
    min-width: 10px;
 }

 .text-animate-hover {
    min-width: 10p;
    display: inline-block;
    animation-fill-mode: both;

    &:hover {
        animation: rubberBand 1s;
        color: $color-secu;
    }
 }

 @for $i from 1 through 38 {
    .text-animate._#{$i} {
        animation-delay: #{$i /10}s;
    }
 }

 .text-animate-hover._19 {
   padding-left: 0.6rem;
 }

 .text-animate-hover._29 {
   padding-left: 0.6rem;
 }