.mapaRuta{
    &__container{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: row;
        margin: 2rem 0 4rem 0;
    }
    &__ano{
        flex-grow: 1.5;
        max-width: 160px;
        margin-right: 2rem;

        > h3 {
            font-size: $font-18;
            line-height: 24px;
            letter-spacing: 0.05rem;
            color: $color-white;
        }

        > div {
            width: 38px;
            height: 3px;
            background: $color-white;
            margin-bottom: 0.25rem;
        }
    }
    &__institucion {
        flex-grow: 3;
        max-width: 460px;
        > h1 {
            font-size: $font-32;
            letter-spacing: 0.05rem;
            color: $color-white;
        }
        > p {
            font-size: $font-14;
            line-height: 24px;
            color: $color-white;
        }

    }
    &__texto {
        flex-grow: 1.5;
        display: block;
        
        > div {
            width: 55px;
            height: 2px;
            background: $color-white;
            margin-bottom: 0.5rem;
            margin-top: 0.5rem;
        }
        > h2 {
            font-size: $font-18;
            line-height: 24px;
            color: $color-white;
        }
        > h3 {
            font-size: $font-16;
            line-height: 24px;
            color: $color-white;
        }
    }
    &__textoSubtitulo2 {
        margin-top: 2rem;
    }

}

@media (max-width: 550px) {
    .mapaRuta{
        &__container{
            margin: 1rem 0;
            display: block;
        }
        &__ano{
            margin: 2rem 0 1rem 0;
        }
        &__institucion > h1 {
            font-size: $font-22;
        }
        &__texto{
            > p {
                font-size: $font-12;
                line-height: 22px;
                letter-spacing: 0.05rem;
            }
            > h2 {
                margin-top: 1.5rem;
                font-size: $font-18;
            }
        }
    }
}


